@include critical {

    body {
        padding-top: ($font-size-smallest * $line-height * 3);
    }

    .top-navigation {
        padding: 0 $grid-padding/2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background-color: #fff;
        background-color: rgba(#fff, 0.9);
        transform: translateZ(0);
        border-bottom: 1px solid $color-grey-light;

        .links {
            a {
                padding: ($line-height * $font-size-smallest) $grid-padding/2;
                display: block;
                float: left;
                color: $color-text;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font-heading;
                font-size: $font-size-smallest;
                font-weight: bold;
                border-bottom: 0px solid $color-primary;
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    border-bottom-width: 6px;
                    margin-bottom: -1px;
                    padding-bottom: (($line-height * $font-size-smallest) - 5px);
                }
            }
        }

        &.small .links a {
            padding-top: ($line-height * $font-size-smallest)/4;
            padding-bottom: ($line-height * $font-size-smallest)/4;
                &.active {
                    padding-bottom: (($line-height * $font-size-smallest)/4 - 5px);
                }
        }
    }
}
