/**
 * COLROS
 */

// Theme 1
$color-vitamin-c: #ff9900;
$color-route-66: #424242;
$color-steady-grey: #e9e9e9;
$color-bc: #bcbcbc;
$color-gamebookers-blue: #3299bb;
$color-black: #090909;
$color-white: #ffffff;

$color-text: $color-black;
$color-text-negative: $color-white;
$color-background: $color-white;
$color-background-negative: $color-black;

$color-primary: $color-vitamin-c;
$color-secondary: $color-gamebookers-blue;

$color-grey: $color-bc;
$color-grey-light: $color-steady-grey;
$color-grey-dark: $color-route-66;

/**
 * TYPOGRAPHY
 */
$font-size-base: 18px;

$font-size-ratio: 1.27201964951;

$font-size-smallest: $font-size-base * power($font-size-ratio, -1);
$font-size-smaller: $font-size-base;
$font-size-small: $font-size-base * $font-size-ratio;
$font-size-normal: $font-size-base * power($font-size-ratio, 2);
$font-size-large: $font-size-base * power($font-size-ratio, 3);
$font-size-larger: $font-size-base * power($font-size-ratio, 4);
$font-size-largest: $font-size-base * power($font-size-ratio, 5);
$font-size-huge: $font-size-base * power($font-size-ratio, 6);
$font-size-huger: $font-size-base * power($font-size-ratio, 7);
$font-size-hugest: $font-size-base * power($font-size-ratio, 8);

$line-height: 30/18;
$font-text: "Georgia Pro", georgia, serif;
$font-heading: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * RESPOSIVE
 */

// Breakpoints
$break-sm: 600px;
$break-md: 800px;
$break-lg: 1000px;

// Grid
$grid-padding: 30px;
