@include critical {
    body {
        color: $color-text;
        background-color: $color-background;
        font-size: $font-size-base;
        line-height: $line-height;
        font-family: $font-text;
    }

    small, .small {
        font-size: $font-size-small;
    }

    h1, .h1 {
        font-size: $heading-size-1;
        font-family: $font-heading;
    }
    h2, .h2 {
        font-size: $heading-size-2;
        font-weight: bold;
    }
    h3, .h3 {
        font-size: $heading-size-3;
        font-weight: bold;
    }
    h4, .h4 {
        font-size: $heading-size-4;
        font-weight: bold;
    }
    h5, .h5 {
        font-size: $heading-size-5;
        font-weight: bold;
    }
}
