// Settings
@import "settings/variables";

// Vendors

// Tools
@import "tools/critical";
@import "tools/media";

// Base
@import "base/reset";
@import "base/grid";

// Helpers
@import "helpers/animate";
@import "helpers/responsive";

// Objects

// Components

@include critical() {
    .dummy {
        height: 1600px;
    }
}

@include non-critical() {
    .test {
        background-color: #ccc;
        height: 50px;
        margin: ($grid-padding / 2) 0;
        text-align: center;
    }
}
