// Settings
@import "settings/variables";

// Vendors

// Tools
@import "tools/critical";
@import "tools/media";

// Base
@import "base/reset";
@import "base/grid";

// Helpers

// Objects
@import "objects/animate";
@import "objects/responsive";
@import "objects/lazy";
@import "objects/parallax-scroll";

// Components

@include critical() {
    .test {
        background-color: #ccc;
        height: 500px;
        margin: ($grid-padding / 2) 0;
        text-align: center;
    }
    .slider-test {
        height: 600px;
    }
}
