@include critical {
    .banner {
        padding-top: 85%;

        @include media(sm) {
            padding-top: 70%;
        }
        @include media(md) {
            padding-top: 55%;
        }
        @include media(lg) {
            padding-top: 40%;
        }
    }
}

