.img.slider {

    position: relative;
    overflow: hidden;

    & > img {
        left: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        transform: translateZ(0);
    }
}
