@include critical {
    .img.slider {

        position: relative;
        overflow: hidden;
        background: transparent !important;

        & > img {
            left: 0;
            top: 0;
            position: absolute;
            z-index: -1;
            min-height: 125%;
            min-width: 100%;
            transform: translateZ(0);
        }
    }
}
