@include critical {
    .parallax-scroll {

        position: relative;
        overflow: hidden;
        background: transparent !important;

        .background {
            left: 0;
            top: 0;
            position: absolute;
            z-index: -1;

            &.full-width {
                width: 100%;
            }
        }
    }
}
