@include critical {
    .parallax-scroll {

        position: relative;
        overflow: hidden;
        background-color: $color-grey-light;

        .background {
            left: 0;
            top: 0;
            position: absolute;

            &.full-width {
                width: 100%;
            }
        }
    }
}
